<div class="container">
  <div class="row">
    <div class="col-xs-4 col-xs-offset-4">
      <p> <%= @cocktail.name %> </p>
        <ul>
          <% @cocktail.doses.each do |dose| %>
          <li> Description <%= dose.description %></li>
          <li> Ingredient <%= dose.ingredient.name %></li>
          <% end %>
        </ul>
      <%= link_to "add description", new_cocktail_dose_path(@cocktail), class: "btn btn-primary btn-lg"%>
    </div>
  </div>
</div>

<%= link_to "home", cocktails_path %>
